.navbar-nav 
{ 
    margin-left: auto; 
}
.main
{
    padding: 5%;
}
.contact
{
    padding: 5%;
}
.error
{
    color: red;
}
.success
{
	text-align: center;
	color: green;
	display: block;
	-webkit-animation: cssAnimation 1s forwards;
	animation: cssAnimation 1s forwards;
}

@keyframes cssAnimation {
	0% {opacity: 1;}
	90% {opacity: 1;}
	100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
	0% {opacity: 1;}
	90% {opacity: 1;}
	100% {opacity: 0;}
}